.pseudo{
    display: flex;
    flex: right;
    height: 70px;
    width: 70px;
    border: 1px;
    padding-left: 50px;
    /* background-color: red; */
}
.imagePseudo{
    border-radius: 50%;

}

/* bar de navigation */
